body {
    background-color: #fd8c21;
}

.custom-header {
    background-color: #f5cd1d;
  }
  
  .feather-icon-custom {
    color: #000000;
  }
  
  .nav-link-custom {
    color: #000000 !important;
  }

  .text-e6110a {
    color: #000000;
  }
  
  .btn-e6110a {
    background-color: #f5cd1d;
    border-color: #000000;
    color: #fd8c21; /* Asegúrate de que el texto sea visible */
  }
  
  .btn-e6110a:hover {
    background-color: darken(#e6110a, 10%); /* Opcional: un color más oscuro al pasar el mouse */
    border-color: darken(#e6110a, 10%);
  }
  
  .footer-custom {
    background-color: #f5cd1d;
}

.text-white {
  color: #000000;
}